rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /snapshots/{snapshotId} {
      allow read: if true;
      allow write: if false;
    }

    match /logEvents/{eventId} {
      allow read: if true;
      allow write: if false;
    }

    match /logImports/{importId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
